        <nav class="site-header sticky-top py-1">
        <div class="container-fluid d-flex flex-column flex-md-row c justify-content-between">
            <a class="py-2 pl-4" href="/gif" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24"  height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class=" mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/>
            <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <label for="home " class="lead mx-auto">Home</label>
            </a>
            {{#if loginned}}
            <a class="py-2 pr-4 lead " href="/gif/logout">Logout</a>
            {{else}}
            <a class="py-2 pr-4 lead " href="/gif/login">Login/Signup</a>
            {{/if}}
        </div>
        </nav>