

    <h1 class="display-1 text-center"> Download GIF</h1>
    <div class="container text-center mt-5">
    <img src="https://media3.giphy.com/media/{{data}}/giphy.gif?&rid=giphy-downsized-small.mp4" alt="" srcset="">
    <h4>{{name}}</h4>
    <div class=" mt-5">
        <button class="btn btn-dark text-light" ><a href="/gif/download/{{data}}/{{name}}">Download</a></button>
    </div>
    </div>

